@{
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <div class="mid_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-xs-2"></div>
                    <div class="col-md-10 col-xs-8">
                        <p>Decorate your life</p>
                    </div>
                    <div class="col-md-1 col-xs-2"></div>
                </div>
            </div>
        </div>
        <div class="search_form">
            <div class="col-md-12">
                <div class="inp">
                    <div id="sobaka">
                        <input type="text" placeholder="Пошук...">
                        <a href="#" id="Search"><img src="/Content/pics/active-search-xxl.png" height="35" width="35"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>
}

<div class="main">
    <div class="second">
        <div class="col-md-12">
            <p>
                <span>Ми можемо все!</span>
                <br>Ми організуємо для Вас будь-яку подію від дня народження до весілля, фотосесії, вечірки та багато іншого!
            </p>
        </div>
        <div class="col-md-12 col-lg-12">

           
        </div>
    </div>
    <div class="line2"></div>
    <div class="third">
        <div class="col-md-12">
            <p>
                <span>Зробіть підбір замостійно!</span>
                <br>Ви можете обрати самостійно будь-яке оздоблення для Вашої події.
                <br>Від флористики до різблених дерев'яних оздоблень, букв, надуємо повітряні кульки та багато іншого!
            </p>
        </div>
        <div class="col-md-12 col-lg-12">

            <div class="container">
                <div class="row">
                    <table class="photo_T" align="center">
                        <tr>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/2.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/3.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                        </tr>
                        <tr>
                            <td>fewfwefwefw</td>
                            <td>fwefwefwefwe</td>
                            <td>fwefwefwefwef</td>
                            <td>fwefwefwefwef</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/2.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/3.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                        </tr>
                        <tr>
                            <td>fewfwefwefw</td>
                            <td>fwefwefwefwe</td>
                            <td>fwefwefwefwef</td>
                            <td>fwefwefwefwef</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/2.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/3.jpg" width="200" height="150"></td>
                            <td style="padding: 10px;"><img src="/Content/pics/1.jpg" width="200" height="150"></td>
                        </tr>
                        <tr>
                            <td>fewfwefwefw</td>
                            <td>fwefwefwefwe</td>
                            <td>fwefwefwefwef</td>
                            <td>fwefwefwefwef</td>
                        </tr>
                    </table>
                    <button class="but">Обрати</button>
                </div>
            </div>
        </div>
    </div>
    <div class="line3"></div>
</div>